<h1>You fell in love with <%= thing %></h1>
<% if (thing.toLowerCase() === "sachin") {%>
<p>Good choice</p>
<% } else { %>
<p>Bad choice! You should have said Sachin</p>
<%} %>
<p>"P.S. This it the love.ejs file"</p>
